# Entornos virtuales
venv/
.venv/
env/
.env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDE
.idea/
.vscode/

# Datos (NUNCA subir datos a Git)
data/

# Archivos de logs
*.log

# Archivos de variables de entorno
.env